* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #808080;
}

.btn {
  padding: 10px;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

span {
  font-weight: 200;
}

.about h2, h5 {
  font-weight: 600;
  color: #808080;
}

h3, .h5, .h6, span, .col-6, .caption {
  color: white;
}

.h2 {
  color: #808080;
}

.carousel-inner img {
  width: 100%;
  height: 700px;
  z-index: -1;
}

.container .display-3 {
  background-color: #C8C6C6;
  width: 100%;
  height: 100px;
  margin: 40px;
  padding: 11px;
  font-weight: 400;
  letter-spacing: 7px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.container-2 {
  padding: 50px;
}

.container-4 {
  width: 100%;
  padding-bottom: 70px;
  background-image: url(img/sekolah01.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-5 {
  padding: 30px;
  background-image: url(img/pattern02.jpg);
}

.container-6 {
  margin: 50px;
}

.container-7 {
  margin: 110px;
  align-items: center;
}

.flex-shrink-0 img {
  width: 500px;
  height: 350px;
}

.px-4 img {
  width: 550px;
  height: 340px;
  padding: 30px;
  margin: 100px 0 100px 0;
}

.px-4 .about {
  padding: 20px;
  margin: 100px 0 100px 0;
}

.conts-kc {
  margin: 30px;
  padding: 30px;
}

.col-4 {
  padding: 30px;
}

.col-06 {
  align-items: center;
  text-align: center;
  padding: 20px;
}

div .col-9 {
  padding: 50px;
}







